<%= form_for(@user) do |f| %>

    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.label "Profile Information" %>
    </p>

    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :birth_date %>
        <%= f.date_select :birth_date, include_blank: true %>
    </p>

    <p>
        <%= f.label :education %>
        <%= f.text_area :education %>
    </p>

    <p>
        <%= f.label :skills %>
        <%= f.text_area :skills %>
    </p>

    <p>
        <%= f.submit "Submit" %>
    </p>

<% end %>