<%= form_for(@user) do |f| %>
    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </p>

    <p>
        <h3>Profile Information (optional)</h3>
    </p>

    <p>
        <%= f.label "Profile Picture" %>
        <%= f.file_field :profile_pic %>
    </p>

    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :education %>
        <%= f.text_area :education %>
    </p>

    <p>
        <%= f.label :skills %>
        <%= f.text_area :skills %>
    </p>

    <p>
        <%= f.label "Gender: "%>
        <%= f.radio_button :gender, "male" %>
        <%= f.label :male %>
        <%= f.radio_button :gender, "female" %>
        <%= f.label :female %>
        <%= f.radio_button :gender, "other" %>
        <%= f.label :other %>
    </p>

    <p>
        <%= f.submit "Submit" %>
    </p>

<% end %>

