<h1>Hello</h1>

<%= form_tag users_path, :method => "get" do %>
    <%= label_tag(:search, "Enter Username: ") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :username => nil) %>
<% end %>

<p>
    <% if defined?(@searched_user.username) %>
        <%= link_to @searched_user.username, user_path(@searched_user) %>
    <% else %>
        <% Post.all.reverse.each do |post| %>
            <% if user = current_user.following.find_by(:id => post.user_id) %>
            <p>
                <%= user.username %><br>
                <%= post.content %>
            </p>
            <% end %>
        <% end %>
    <% end %>
</p>

<p>
    <%= link_to "Your Page", user_path(@user) %>
</p>

<% current_user.following.each do |user| %>
<%= link_to user.username, user_path(user) %><br>
<% end %>