<h1>News Feed</h1>

<%= form_tag users_path, :method => "get" do %>
    <%= label_tag(:search, "Enter Username: ") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :username => nil) %>
<% end %>

<p>
    <% if defined?(@searched_user.username) %>
        <div style ="width: 30%;">
            <%= user_avatar(@searched_user) %><br><br><br>
            <%= link_to @searched_user.username, user_path(@searched_user), :style => "background-color: deepskyblue;" %>
        </div>
    <% else %>
        <% @posts.reverse.each do |post| %>
            <% if user = current_user.following.find_by(:id => post.user_id) %>
            <p>
                <%= link_to user.username, user_path(user), :style => "background-color: deepskyblue;" %><br><br><br>

                <strong><%= post.title %></strong><br><br>
                <%= post.content %><br><br><br>
            </p>
            <% end %>
        <% end %>
    <% end %>
</p><br><br><br>

<p>
    <%= link_to "Your Page", user_path(@user) %>
</p>

