<h1>Hello <%= @user.username %></h1>

<%= form_tag({controller:"posts", action:"create", method:"post"}) do %>

    <label>Post</label><br>
    <textarea name="post[content]" cols="30" rows="10"></textarea><br>

    <input type="submit" value="Create Post"><br>

    <% if flash[:empty_post] %>
        <%= flash[:empty_post] %>
    <% end %>

<% end %>

<p>
    <% @user.posts.reverse.each do |post| %>
        <%= post.content %>
    <% end %>
</p>

<p>
    <%= link_to "Log Out", "/logout" %>
</p>