<%= user_avatar(@user) %>

<div style="text-align: center;">
    <div style="font-size: 50px; font-weight: bold;"><%= @user.username %></div><br><br><br>
    <% if current_user != @user %>
        <%= render 'follows/form' %>
    <% end %><br><br>

    <p>
        <% if flash[:password_notice] %>
            <%= flash[:password_notice] %>
        <% end %>
    </p>

<div>
        <strong>follow<%= link_to @user.following.count, following_list_path, :style => "border: none; background-color: white;" %> </strong>
        <strong>followers <%= link_to @user.followers.count, followers_list_path, :style => "border: none; background-color: white;" %></strong>
</div><br><br>


<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <tr>
        <th>Title</th>
        <th>Skills</th>
        <th>Education</th>
    </tr>
    <tr>
        <td><%= @user.title %></td>
        <td><%= @user.skills %></td>
        <td><%= @user.education %></td>
    </tr>
</table><br><br>

<% if current_user == @user %>

<p>
    <%= link_to "Edit Profile", edit_user_path %>
</p>
<br>
<p>
    <%= link_to "Users Feed", users_path %>
</p><br><br>

<%= form_tag({controller:"posts", action:"create", method:"post"}) do %>

<p>
    <%= label_tag "Title" %>
    <%= text_field_tag "post[title]" %><br>
</p>

<%= text_area_tag 'post[content]', nil, size:"35x10" %><br><br>

<input type="submit" value="Create Post"><br><br><br>

    <% if flash[:empty_post] %>
        <%= flash[:empty_post] %>
    <% end %>

<% end %>
<% end %>

<% @user.posts.reverse.each do |post| %>

        <h3><%= post.title %></h3>
        <%= post.content %><br><br>

<p>
    <% if current_user == @user %>

        <%= link_to "Edit Post", edit_post_path(post) %><br>

    <% end %><br><br>

    <%= link_to "View Post", user_post_path(post.user_id, post.id) %><br><br><br><br><br>
</p>

<% end %><br><br>


<% if current_user != @user %>
<p>
    <%= link_to "Back to your page", user_path(current_user) %><br><br><br><br><br>
    <%= link_to "Users Feed", users_path %>
</p>
<% end %><br><br>


<p>
    <%= link_to "Log Out", "/logout", :style => "background-color: #CC0000;" %>
</p>
</div>