<h1>Hello <%= @user.username %></h1>

<p>
    <% if current_user != @user %>
        <% if current_user.following?(@user) %>
            <button name="unfollow" type="submit">Unfollow</button>
        <% else %>
            <button style="background-color:cornflowerblue" name="follow" type="submit">Follow</button>
        <% end %>
    <% end %>
</p>

<ul>
    <li>Title: <%= @user.title %></li>
    <li>Skills: <%= @user.skills %></li>
    <li>Education: <%= @user.education %></li>
</ul>

<% if current_user == @user %>

<p>
    <%= link_to "Edit Profile", edit_user_path %>
</p>

<p>
    <%= link_to "Users Feed", users_path %>
</p>


<%= form_tag({controller:"posts", action:"create", method:"post"}) do %>

    <label>Post</label><br>
    <p>
        <label>Title</label>
        <input type="text" name="post[title]"><br>
    </p>

    <textarea name="post[content]" cols="30" rows="10"></textarea><br>

    <input type="submit" value="Create Post"><br>

    <% if flash[:empty_post] %>
        <%= flash[:empty_post] %>
    <% end %>

<% end %>
<% end %>

<% @user.posts.reverse.each do |post| %>

        <h3><%= post.title %></h3>
        <%= post.content %>

<p>
    <% if current_user == @user %>

        <%= link_to "Edit Post", edit_post_path(post) %><br>

    <% end %>

    <%= link_to "View Post", user_post_path(post.user_id, post.id) %>
</p>

<% end %>


<p>
    <%= link_to "Log Out", "/logout" %>
</p>