<h1>Hello <%= @user.username %></h1>

<ul>
    <li>Title: <%= @user.title %></li>
    <li>Skills: <%= @user.skills %></li>
    <li>Education: <%= @user.education %></li>
</ul>

<% if current_user == @user %>

<p>
    <%= link_to "Edit Profile", edit_user_path %>
</p>


<%= form_tag({controller:"posts", action:"create", method:"post"}) do %>

    <label>Post</label><br>
    <textarea name="post[content]" cols="30" rows="10"></textarea><br>

    <input type="submit" value="Create Post"><br>

    <% if flash[:empty_post] %>
        <%= flash[:empty_post] %>
    <% end %>

<% end %>
<% end %>

<p>
    <% @user.posts.reverse.each do |post| %>
        <%= post.content %>
    <% end %>
</p>

<p>
    <%= link_to "Log Out", "/logout" %>
</p>